@use "../../scss/vars" as *;

.hero {
  position: relative;
  width: 100%;
  height: calc(100vh - $nav-height-desktop);

  .background-img {
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
    object-fit: cover;
  }

  .headline-text {
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: #fff;

    h1 {
      font-size: 80px;
      text-transform: uppercase;
    }

    h2 {
      font-size: 37px;
    }
  }
}

.msg-in-progress {
  text-align: center;
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  // background-color: #515a5e;
  background-color: #fff;
  padding: 15px 25px;
  // border: 3px solid $main-text-color;
  font-size: 24px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

// section {
//   padding: 50px;
// }

@media (max-width: 850px) {
  .hero {
    .headline-text {
      h1 {
        font-size: 44px;
      }

      h2 {
        font-size: 24px;
      }
    }
  }

  .msg-in-progress {
    padding: 5px 10px;
    font-size: 18px;
    left: 30px;
    right: 30px;
    transform: none;
  }
}
