@use "scss/vars" as *;

.main-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: fit-content;

  .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f0f0f0;
    border-top: 3px solid #ddd;
    border-bottom: 3px solid #ddd;
    height: $nav-height-desktop;

    &__logo {
      width: 80px;
      object-fit: contain;
      cursor: pointer;
    }

    &__link-container {
      display: flex;
      align-items: center;
      gap: 40px;
      height: 100%;

      .active-link {
        color: $primary-color !important;
        background-color: $navLinkHoverBgColor;
      }

      .main-point {
        text-decoration: none;
        position: relative;
        display: flex;
        align-items: center;
        list-style-type: none;
        padding: 0 20px;
        height: 100%;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        color: #222;

        li {
          text-decoration: none;
          font-weight: 700;
          text-transform: uppercase;

          &:hover {
            transition: all 0.3ms;
            color: $primary-color;
          }
        }

        &:hover {
          border-top: 3px solid $primary-color; //#51a9db
          border-bottom: 3px solid #ddd;
          box-sizing: content-box;
          background-color: $navLinkHoverBgColor;
          color: $primary-color;

          // .dropdown {
          //   display: flex;
          // }
        }
      }

      .disabled {
        pointer-events: none;
        color: grey;
      }

      .dropdown {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #d5d7d8;
        top: 100%;
        left: 0;
        z-index: 1000;
        border-top: 3px solid $primary-color;

        li {
          list-style-type: none;
          cursor: pointer;
          padding: 10px 20px;

          &:first-child {
            padding-top: 20px;
          }

          &:last-child {
            padding-bottom: 20px;
          }

          a {
            text-decoration: none;
            color: #222;
            font-weight: normal;
          }

          &:hover {
            background-color: $primary-color;
            transition: all 0.3ms;

            a {
              transition: all 0.3ms;
              color: #fff;
            }
          }
        }

        &:hover {
          .dropdown {
            display: flex;
          }
        }
      }

      .active-main-point {
        border-top: 3px solid $primary-color; //#51a9db
        border-bottom: 3px solid #ddd;
        box-sizing: content-box;
      }
    }

    &__burger-menu {
      display: none;
      fill: #222;
      width: 30px;
    }
  }
}

main {
  flex: 1;
  padding-bottom: 112px;
  font-size: 22px;
}

.footer {
  background-color: #444; // $primary-color
  color: #fff;
  padding: 40px 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__links {
    display: flex;
    gap: 30px;
    align-self: flex-end;

    a {
      text-decoration: none;
      color: #fff;
      font-weight: 600;

      &:hover {
        color: #ddd;
        text-decoration: underline;
        transition: all 0.3s;
      }
    }
  }
}

@media (max-width: 850px) {
  header {
    .nav {
      height: $nav-height-mobile;
      .nav__logo {
        width: 60px;
      }

      .nav__link-container {
        display: none;
      }

      .nav__burger-menu {
        display: inline-block;
      }
    }
  }

  main {
    font-size: 18px;
  }

  .footer {
    padding: 30px 30px;
    font-size: 14px;

    .footer__links {
      gap: 20px;
    }
  }
}
