<section class="main-container">
  <header>
    <nav class="nav">
      <a [routerLink]="['/']">
        <img
          class="nav__logo"
          src="logo-transparent-png.webp"
          alt="logo Legra Technik"
        />
      </a>

      <ul class="nav__link-container">
        <li
          class="main-point"
          [ngClass]="{ 'active-main-point': isHomeRouteActive() }"
        >
          <a
            [routerLink]="['/']"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li
          class="main-point"
          [ngClass]="{ 'active-main-point': isAboutUsRouteActive() }"
        >
          <a
            [routerLink]="['/about-us']"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Über uns</a
          >
        </li>
        <li class="main-point nav-our-areas">
          <a
            href="#"
            class="disabled"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Unsere Bereiche</a
          >
          <ul class="dropdown">
            <li><a href="#">Elektrotechnik</a></li>
            <li><a href="#">Smarthome</a></li>
            <li><a href="#">Klima & Kältetechnik</a></li>
            <li><a href="#">SAT und Netzwerktechnik</a></li>
          </ul>
        </li>
        <li class="main-point nav-services">
          <a
            href="#"
            class="disabled"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Dienstleistungen</a
          >
          <ul class="dropdown">
            <li><a href="#">PV-Anlagen</a></li>
            <li><a href="#">Elektrotechnische Messungen + Abnahmen</a></li>
            <li><a href="#">Gutachten</a></li>
            <li><a href="#">Niederspannungsverteilungen</a></li>
            <li><a href="#">Not- und Ersatzstromkonzepte</a></li>
            <li><a href="#">Wiederholungsprüfung</a></li>
          </ul>
        </li>
        <li
          class="main-point"
          [ngClass]="{ 'active-main-point': isContactRouteActive() }"
        >
          <a
            [routerLink]="['/contact']"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Kontakt</a
          >
        </li>
      </ul>

      <a [routerLink]="['/nav-modal']">
        <svg
          class="nav__burger-menu"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 50 50"
        >
          <path
            d="M5 8a2 2 0 1 0 0 4h40a2 2 0 1 0 0-4H5zm0 15a2 2 0 1 0 0 4h40a2 2 0 1 0 0-4H5zm0 15a2 2 0 1 0 0 4h40a2 2 0 1 0 0-4H5z"
          />
        </svg>
      </a>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer class="footer">
    <div class="footer__links">
      <a [routerLink]="['/contact']">Kontakt</a>
      <a [routerLink]="['/privacy-policy']">Datenschutzerklärung</a>
      <a [routerLink]="['/impressum']">Impressum</a>
    </div>
    <hr />
    <p>© LEGRA-Technik</p>
  </footer>
</section>
