<section class="main-container">
  <header>
    <nav class="nav">
      <a [routerLink]="['/']">
        <img
          class="nav__logo"
          src="logo-transparent-png.webp"
          alt="logo Legra Technik"
        />
      </a>

      <ul class="nav__link-container">
        <a
          [routerLink]="['/']"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          class="main-point"
          [ngClass]="{ 'active-main-point': isHomeRouteActive() }"
        >
          <li>Home</li>
        </a>
        <a
          [routerLink]="['/about-us']"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          class="main-point"
          [ngClass]="{ 'active-main-point': isAboutUsRouteActive() }"
        >
          <li>Über uns</li>
        </a>
        <a
          href="#"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          class="main-point disabled"
        >
          <li>
            Unsere Bereiche
            <ul class="dropdown">
              <a href="#"><li>Elektrotechnik</li></a>
              <a href="#"><li>Smarthome</li></a>
              <a href="#"><li>Klima & Kältetechnik</li></a>
              <a href="#"><li>SAT und Netzwerktechnik</li></a>
            </ul>
          </li>
        </a>
        <a
          href="#"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          class="main-point disabled"
        >
          <li>
            Dienstleistungen
            <ul class="dropdown">
              <a href="#"><li>PV-Anlagen</li></a>
              <a href="#"><li>Elektrotechnische Messungen + Abnahmen</li></a>
              <a href="#"><li>Gutachten</li></a>
              <a href="#"><li>Niederspannungsverteilungen</li></a>
              <a href="#"><li>Not- und Ersatzstromkonzepte</li></a>
              <a href="#"><li>Wiederholungsprüfung</li></a>
            </ul>
          </li>
        </a>
        <a
          [routerLink]="['/contact']"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          class="main-point"
          [ngClass]="{ 'active-main-point': isContactRouteActive() }"
        >
          <li>Kontakt</li>
        </a>
      </ul>

      <a [routerLink]="['/nav-modal']">
        <svg
          class="nav__burger-menu"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 50 50"
        >
          <path
            d="M5 8a2 2 0 1 0 0 4h40a2 2 0 1 0 0-4H5zm0 15a2 2 0 1 0 0 4h40a2 2 0 1 0 0-4H5zm0 15a2 2 0 1 0 0 4h40a2 2 0 1 0 0-4H5z"
          />
        </svg>
      </a>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer class="footer">
    <div class="footer__links">
      <a [routerLink]="['/contact']">Kontakt</a>
      <a [routerLink]="['/privacy-policy']">Datenschutzerklärung</a>
      <a [routerLink]="['/impressum']">Impressum</a>
    </div>
    <hr />
    <p>© LEGRA-Technik</p>
  </footer>
</section>
