@use "sass:color";
@use "../../scss/vars" as *;

.about-us-main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-top: 6rem;

  h1 {
    padding-left: 8.5rem;
  }

  section {
    padding: 3rem 5rem;
    margin: 0 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &:hover {
      transform: translateY(-0.3rem);
      transition: all 0.3s;
    }

    a {
      color: $primary-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    span {
      font-weight: 600;
    }

    h2 {
      margin-bottom: 0.7rem;
    }
  }

  .introduction {
    border-top: 3px solid $primary-color;
    border-bottom: 3px solid $primary-color;
  }

  .short-presentation {
    // background-color: #f3f3f3;
    background-color: color.adjust($primary-color, $lightness: 5%);
    color: #fff;
    margin: 0;
    padding: 3rem 8.5rem;
  }

  .qualifications {
    padding-bottom: 0;
    padding-top: 0;

    ul {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-left: 3rem;

      li {
        // border-radius: 2rem;
        border-left: 4px solid $primary-color;
        // border-right: 4px solid $primary-color;
        list-style-type: none;
        padding: 10px 30px;
        padding-right: 0;
      }
    }
  }

  .motivation {
    border-left: 4px solid $primary-color;
    border-right: 4px solid $primary-color;
    margin: 0 8.5rem;
    padding: 0 2.5rem;
  }

  .closing-sentence {
    padding-left: 8.5rem;
    font-size: 1.7rem;
    font-weight: 600;
    color: $primary-color;
  }
}

@media (max-width: 850px) {
  .about-us-main {
    padding-top: 4rem;
    gap: 4rem;

    h1 {
      padding: 0 30px;
    }

    .closing-sentence {
      padding: 0 30px;
      font-size: 1.4rem;
    }

    section {
      margin: 0 30px;
      padding: 48px 0;
    }

    .short-presentation {
      padding: 48px 30px;
    }

    .qualifications {
      ul {
        padding-left: 20px;
      }
    }

    .philosophy {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .motivation {
      border: none;
      padding: 0 30px;
      margin: 0;
    }

    .tradition {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}
