@use "app/scss/vars" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PT_Sans/PTSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PT_Sans/PTSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html,
body {
  height: 100%;
}

body {
  font-family: "PTSans", sans-serif;
  color: #222;

  h1 {
    font-size: 56px;
    overflow-wrap: break-word;
  }

  p {
    line-height: 32px;
  }
}

@media (max-width: 750px) {
  body {
    h1 {
      font-size: 30px;
    }

    h2 {
      font-size: 22px;
    }

    p {
      line-height: 26px;
    }
  }
}
