* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PT_Sans/PTSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PT_Sans/PTSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html,
body {
  height: 100%;
}

body {
  font-family: "PTSans", sans-serif;
  color: #222;

  h1 {
    font-size: 56px;
  }

  p {
    line-height: 32px;
  }
}
